In [1]:
import pandas as pd
import os

In [2]:
filename = '../data/genni-ethnea-authority2009.tsv'

# Read the TSV file into a pandas DataFrame
df = pd.read_csv(filename, delimiter='\t', on_bad_lines='warn')

b'Skipping line 1864435: expected 10 fields, saw 13\n'

In [3]:
df

,auid,name,EthnicSeer,prop,lastname,firstname,Ethnea,Genni,SexMac,SSNgender
0,9731334_2,Cameron 'Dale' Bass,ITA,0.653567,'Dale' Bass,Cameron,ENGLISH,M,mostly_male,-
1,2155715_1,Bert Hart,ENG,0.772359,Hart,Bert,DUTCH,M,male,M
2,7867892_1,Leen Hart,ENG,0.980865,Hart,Leen,DUTCH,-,male,F
3,14609221_2,Esther Nolte- Hoen,GER,0.665081,Nolte- Hoen,Esther,GERMAN,F,female,F
4,8101337_1,Ellen 't Hoen,CHI,0.665526,'t Hoen,Ellen,DUTCH,F,female,F
...,...,...,...,...,...,...,...,...,...,...
2799447,849591_2,Haddad,ARA,0.927991,Haddad,X,ARAB-FRENCH,-,andy,-
2799448,8683651_5,Haddad,ARA,0.927991,Haddad,X,ARAB-FRENCH,-,andy,-
2799449,8714244_2,monia Haddad,ARA,0.988955,Haddad,monia,ARAB,F,female,F
2799450,9289496_7,Haddad,ARA,0.927991,Haddad,X,ARAB-FRENCH,-,andy,-
2799451,13653457_3,BONARELLI RULLIF,ITA,0.748362,BONARELLI RULLIF,X,ITALIAN,-,andy,-

In [12]:
# Assuming you have a DataFrame named 'df' with a column named 'firstname'

# Capitalize all first names
df['firstname'] = df['firstname'].str.capitalize()

# Remove names with spaces or hyphens or len 1 or less
df = df[df['firstname'].str.len() > 1]
df = df[df['firstname'].str.len() < 14]
df = df[~df['firstname'].str.contains(r'[\s-]')]

# Remove names without gender info
df = df[df['Genni'] != "-"]

# Create a new DataFrame with unique names
unique_names_df = df.drop_duplicates(subset='firstname', keep='first', ignore_index=True)
unique_names_df

,auid,name,EthnicSeer,prop,lastname,firstname,Ethnea,Genni,SexMac,SSNgender
0,9731334_2,Cameron 'Dale' Bass,ITA,0.653567,'Dale' Bass,Cameron,ENGLISH,M,mostly_male,-
1,2155715_1,Bert Hart,ENG,0.772359,Hart,Bert,DUTCH,M,male,M
2,14609221_2,Esther Nolte- Hoen,GER,0.665081,Nolte- Hoen,Esther,GERMAN,F,female,F
3,8101337_1,Ellen 't Hoen,CHI,0.665526,'t Hoen,Ellen,DUTCH,F,female,F
4,9804785_2,Peter 't Hoen,GER,0.330864,'t Hoen,Peter,DUTCH,M,male,M
...,...,...,...,...,...,...,...,...,...,...
35887,18365203_1,Zaiyi Liu,CHI,0.990008,Liu,Zaiyi,CHINESE,M,andy,-
35888,17531377_1,Milady Renata da Silva,ITA,0.627304,Renata da Silva,Milady,HISPANIC,F,andy,F
35889,1887140_4,mariangelica da Silva,ITA,0.292196,da Silva,Mariangelica,HISPANIC,F,andy,-
35890,13975819_1,norbertberto SA,ITA,0.820337,SA,Norbertberto,HISPANIC,M,andy,-
35891,10838923_2,Marineia Haddad,ARA,0.765309,Haddad,Marineia,HISPANIC,F,andy,-

In [13]:
ethnea_counts = unique_names_df['Ethnea'].value_counts()
print(ethnea_counts.to_string())

ENGLISH                4926
HISPANIC               3752
INDIAN                 3186
ARAB                   2757
JAPANESE               2028
CHINESE                1888
SLAV                   1802
NORDIC                 1697
GERMAN                 1235
FRENCH                 1048
TURKISH                 977
DUTCH                   941
ITALIAN                 907
GREEK                   623
ISRAELI                 619
AFRICAN                 617
KOREAN                  555
THAI                    443
ENGLISH-HISPANIC        297
BALTIC                  261
UNKNOWN                 186
HUNGARIAN               131
ENGLISH-FRENCH          121
GERMAN-ENGLISH          119
ROMANIAN                118
ENGLISH-INDIAN          114
FRENCH-ENGLISH          113
ENGLISH-NORDIC          100
HISPANIC-ENGLISH         97
ENGLISH-GERMAN           94
ENGLISH-ARAB             84
ENGLISH-CHINESE          84
ENGLISH-ITALIAN          79
GERMAN-HISPANIC          78
INDIAN-ENGLISH           73
ARAB-INDIAN              70
HISPANIC-ITALIAN         69
ENGLISH-SLAV             67
INDIAN-ARAB              64
FRENCH-HISPANIC          64
ITALIAN-ENGLISH          61
NORDIC-ENGLISH           60
HISPANIC-FRENCH          55
ITALIAN-HISPANIC         55
ENGLISH-TURKISH          53
DUTCH-ENGLISH            51
SLAV-HISPANIC            49
GERMAN-FRENCH            46
GERMAN-NORDIC            46
ARAB-ENGLISH             46
FRENCH-ARAB              44
ENGLISH-DUTCH            42
ARAB-FRENCH              41
SLAV-ENGLISH             40
HISPANIC-GERMAN          39
CHINESE-ENGLISH          38
HISPANIC-ARAB            38
ENGLISH-AFRICAN          36
FRENCH-GERMAN            35
ENGLISH-KOREAN           34
ENGLISH-JAPANESE         32
ENGLISH-GREEK            32
ENGLISH-ISRAELI          31
INDONESIAN               31
ARAB-HISPANIC            31
HISPANIC-NORDIC          30
GERMAN-DUTCH             29
NORDIC-GERMAN            29
HISPANIC-SLAV            29
AFRICAN-ENGLISH          28
DUTCH-FRENCH             28
NORDIC-HISPANIC          28
INDIAN-HISPANIC          27
ENGLISH-THAI             26
ARAB-CHINESE             24
SLAV-ARAB                24
CHINESE-HISPANIC         23
GERMAN-SLAV              23
ISRAELI-ENGLISH          23
SLAV-NORDIC              22
FRENCH-DUTCH             22
ISRAELI-HISPANIC         21
HISPANIC-INDIAN          20
ARAB-SLAV                20
SLAV-FRENCH              18
DUTCH-GERMAN             18
ITALIAN-FRENCH           18
GERMAN-INDIAN            18
ARAB-TURKISH             18
NORDIC-ARAB              17
CHINESE-INDIAN           17
DUTCH-HISPANIC           17
GERMAN-ARAB              17
VIETNAMESE               17
JAPANESE-ENGLISH         17
INDIAN-TURKISH           17
ITALIAN-INDIAN           16
INDIAN-CHINESE           16
SLAV-GERMAN              16
AFRICAN-HISPANIC         16
FRENCH-ITALIAN           16
JAPANESE-CHINESE         16
HISPANIC-JAPANESE        15
HISPANIC-AFRICAN         15
NORDIC-INDIAN            15
AFRICAN-INDIAN           15
JAPANESE-INDIAN          15
AFRICAN-ARAB             15
AFRICAN-FRENCH           15
GERMAN-CHINESE           14
HISPANIC-ISRAELI         14
GERMAN-ITALIAN           14
ISRAELI-ARAB             14
AFRICAN-JAPANESE         14
HISPANIC-DUTCH           13
ENGLISH-BALTIC           13
SLAV-ISRAELI             13
INDIAN-SLAV              13
HISPANIC-TURKISH         13
CHINESE-ARAB             13
ITALIAN-NORDIC           13
INDIAN-THAI              13
SLAV-TURKISH             13
INDIAN-NORDIC            13
TURKISH-ARAB             13
FRENCH-INDIAN            13
NORDIC-SLAV              12
DUTCH-NORDIC             12
INDIAN-ITALIAN           12
FRENCH-AFRICAN           12
GERMAN-ISRAELI           12
ITALIAN-GREEK            12
ARAB-NORDIC              12
NORDIC-FRENCH            12
TURKISH-HISPANIC         11
SLAV-ITALIAN             11
NORDIC-DUTCH             11
INDIAN-JAPANESE          11
ARAB-GERMAN              11
ARAB-ISRAELI             11
SLAV-INDIAN              11
ITALIAN-SLAV             11
HISPANIC-GREEK           11
CHINESE-NORDIC           11
ITALIAN-ARAB             10
GERMAN-AFRICAN           10
FRENCH-TURKISH           10
FRENCH-NORDIC            10
ENGLISH-ROMANIAN         10
KOREAN-ENGLISH           10
JAPANESE-HISPANIC        10
ISRAELI-TURKISH          10
ARAB-AFRICAN              9
CHINESE-KOREAN            9
CHINESE-GERMAN            9
ISRAELI-GERMAN            9
CHINESE-FRENCH            9
CHINESE-JAPANESE          9
JAPANESE-AFRICAN          9
CHINESE-AFRICAN           9
FRENCH-ISRAELI            9
NORDIC-TURKISH            9
HISPANIC-CHINESE          9
ARAB-ITALIAN              9
DUTCH-SLAV                9
ITALIAN-GERMAN            9
GREEK-ENGLISH             9
AFRICAN-DUTCH             9
ISRAELI-INDIAN            8
FRENCH-SLAV               8
JAPANESE-ARAB             8
ARAB-JAPANESE             8
KOREAN-CHINESE            8
AFRICAN-NORDIC            8
ISRAELI-FRENCH            8
AFRICAN-GERMAN            8
AFRICAN-ISRAELI           8
TURKISH-ENGLISH           8
SLAV-GREEK                8
KOREAN-HISPANIC           8
ISRAELI-SLAV              8
FRENCH-CHINESE            7
GERMAN-GREEK              7
ENGLISH-HUNGARIAN         7
ITALIAN-DUTCH             7
NORDIC-BALTIC             7
NORDIC-CHINESE            7
HISPANIC-BALTIC           7
CHINESE-SLAV              7
TURKISH-SLAV              7
INDIAN-AFRICAN            7
NORDIC-ITALIAN            7
INDIAN-ISRAELI            7
TURKISH-INDIAN            7
DUTCH-ISRAELI             7
NORDIC-ISRAELI            6
GREEK-ARAB                6
AFRICAN-CHINESE           6
HISPANIC-THAI             6
HISPANIC-KOREAN           6
ARAB-GREEK                6
AFRICAN-SLAV              6
ROMANIAN-FRENCH           6
SLAV-JAPANESE             6
ITALIAN-JAPANESE          6
DUTCH-CHINESE             6
SLAV-KOREAN               6
FRENCH-JAPANESE           6
HUNGARIAN-ENGLISH         6
ITALIAN-CHINESE           6
GERMAN-JAPANESE           6
JAPANESE-NORDIC           6
CARIBBEAN                 6
GREEK-HISPANIC            6
ARAB-THAI                 6
GERMAN-TURKISH            6
NORDIC-AFRICAN            5
JAPANESE-KOREAN           5
JAPANESE-FRENCH           5
JAPANESE-SLAV             5
SLAV-AFRICAN              5
TURKISH-FRENCH            5
GERMAN-THAI               5
AFRICAN-TURKISH           5
SLAV-BALTIC               5
DUTCH-ARAB                5
CHINESE-THAI              5
ITALIAN-AFRICAN           5
DUTCH-ITALIAN             5
THAI-ARAB                 5
ITALIAN-ROMANIAN          5
SLAV-DUTCH                5
INDIAN-FRENCH             5
CHINESE-ISRAELI           5
NORDIC-GREEK              5
INDIAN-DUTCH              5
GREEK-GERMAN              5
AFRICAN-THAI              4
ENGLISH-CARIBBEAN         4
THAI-HISPANIC             4
NORDIC-JAPANESE           4
CHINESE-DUTCH             4
GERMAN-KOREAN             4
AFRICAN-ITALIAN           4
CHINESE-TURKISH           4
ISRAELI-ITALIAN           4
GERMAN-HUNGARIAN          4
HUNGARIAN-NORDIC          4
SLAV-CHINESE              4
ISRAELI-THAI              4
TURKISH-GREEK             4
VIETNAMESE-FRENCH         4
ROMANIAN-SLAV             4
JAPANESE-THAI             4
ISRAELI-CHINESE           4
ROMANIAN-HISPANIC         4
ISRAELI-AFRICAN           4
KOREAN-DUTCH              4
FRENCH-HUNGARIAN          4
TURKISH-JAPANESE          4
INDIAN-GERMAN             4
KOREAN-FRENCH             4
DUTCH-INDIAN              4
ARAB-DUTCH                4
JAPANESE-GERMAN           4
INDONESIAN-HISPANIC       4
THAI-INDIAN               4
ROMANIAN-ITALIAN          3
THAI-JAPANESE             3
SLAV-THAI                 3
TURKISH-GERMAN            3
ISRAELI-DUTCH             3
ISRAELI-KOREAN            3
GREEK-AFRICAN             3
FRENCH-GREEK              3
KOREAN-INDIAN             3
GREEK-ITALIAN             3
GREEK-SLAV                3
GREEK-FRENCH              3
CHINESE-GREEK             3
KOREAN-JAPANESE           3
GREEK-NORDIC              3
INDIAN-ROMANIAN           3
BALTIC-SLAV               3
GREEK-BALTIC              3
SLAV-ROMANIAN             3
THAI-SLAV                 3
BALTIC-HISPANIC           3
FRENCH-KOREAN             3
THAI-FRENCH               3
DUTCH-THAI                3
ITALIAN-ISRAELI           3
DUTCH-TURKISH             2
FRENCH-THAI               2
DUTCH-GREEK               2
HISPANIC-ROMANIAN         2
ISRAELI-NORDIC            2
JAPANESE-ISRAELI          2
KOREAN-TURKISH            2
ROMANIAN-HUNGARIAN        2
JAPANESE-INDONESIAN       2
ROMANIAN-GREEK            2
HUNGARIAN-HISPANIC        2
CHINESE-ITALIAN           2
KOREAN-GREEK              2
BALTIC-NORDIC             2
DUTCH-AFRICAN             2
GERMAN-BALTIC             2
HUNGARIAN-BALTIC          2
HUNGARIAN-ITALIAN         2
GERMAN-ROMANIAN           2
BALTIC-GERMAN             2
CARIBBEAN-ENGLISH         2
AFRICAN-KOREAN            2
INDONESIAN-JAPANESE       2
TURKISH-CHINESE           2
INDIAN-KOREAN             2
VIETNAMESE-ENGLISH        2
INDONESIAN-GERMAN         2
GREEK-INDIAN              2
NORDIC-KOREAN             2
HUNGARIAN-GERMAN          2
FRENCH-VIETNAMESE         2
HUNGARIAN-FRENCH          2
KOREAN-ITALIAN            2
HISPANIC-HUNGARIAN        2
THAI-ENGLISH              2
NORDIC-THAI               2
HUNGARIAN-ROMANIAN        2
VIETNAMESE-KOREAN         2
FRENCH-ROMANIAN           2
AFRICAN-GREEK             2
TURKISH-ISRAELI           2
HUNGARIAN-INDIAN          2
DUTCH-KOREAN              2
ITALIAN-THAI              2
DUTCH-INDONESIAN          2
JAPANESE-ROMANIAN         2
GREEK-TURKISH             2
THAI-ITALIAN              2
BALTIC-GREEK              2
CHINESE-BALTIC            2
TURKISH-ITALIAN           1
CHINESE-INDONESIAN        1
HUNGARIAN-KOREAN          1
HISPANIC-INDONESIAN       1
DUTCH-ROMANIAN            1
ITALIAN-TURKISH           1
DUTCH-BALTIC              1
INDONESIAN-INDIAN         1
BALTIC-CHINESE            1
KOREAN-ARAB               1
HUNGARIAN-AFRICAN         1
KOREAN-GERMAN             1
INDONESIAN-DUTCH          1
GERMAN-CARIBBEAN          1
INDIAN-GREEK              1
CARIBBEAN-GERMAN          1
ARAB-CARIBBEAN            1
HUNGARIAN-ISRAELI         1
JAPANESE-GREEK            1
ROMANIAN-AFRICAN          1
ITALIAN-KOREAN            1
KOREAN-THAI               1
THAI-TURKISH              1
THAI-ISRAELI              1
FRENCH-INDONESIAN         1
INDONESIAN-TURKISH        1
THAI-CHINESE              1
VIETNAMESE-CHINESE        1
ARAB-KOREAN               1
KOREAN-AFRICAN            1
SLAV-HUNGARIAN            1
GERMAN-INDONESIAN         1
CARIBBEAN-SLAV            1
FRENCH-BALTIC             1
JAPANESE-TURKISH          1
POLYNESIAN                1
ARAB-INDONESIAN           1
NORDIC-ROMANIAN           1
HUNGARIAN-GREEK           1
FRENCH-CARIBBEAN          1
NORDIC-HUNGARIAN          1
GREEK-JAPANESE            1
BALTIC-DUTCH              1
THAI-KOREAN               1
AFRICAN-ROMANIAN          1
TURKISH-ROMANIAN          1
TURKISH-NORDIC            1
DUTCH-JAPANESE            1
HUNGARIAN-CHINESE         1
TURKISH-CARIBBEAN         1
ROMANIAN-DUTCH            1
ITALIAN-INDONESIAN        1
KOREAN-HUNGARIAN          1
ITALIAN-HUNGARIAN         1
AFRICAN-CARIBBEAN         1
ARAB-ROMANIAN             1
ROMANIAN-NORDIC           1
CHINESE-VIETNAMESE        1
KOREAN-NORDIC             1
THAI-AFRICAN              1
ROMANIAN-GERMAN           1
CARIBBEAN-HISPANIC        1
INDONESIAN-SLAV           1
INDONESIAN-ARAB           1
TURKISH-KOREAN            1
JAPANESE-ITALIAN          1
TURKISH-HUNGARIAN         1
GREEK-CHINESE             1
TURKISH-DUTCH             1
TURKISH-THAI              1
INDIAN-INDONESIAN         1
CHINESE-ROMANIAN          1

In [14]:
unique_names_df['Genni'].value_counts()

F    17966
M    17926
Name: Genni, dtype: int64

In [18]:
import requests
from bs4 import BeautifulSoup
import time

def scrape_ethnicity_table(first_name, last_name):
    url = f"http://abel.lis.illinois.edu/cgi-bin/ethnea/search.py?Fname={first_name}&Lname={last_name}"
    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')
    table = soup.find('table')

    # Extract the table rows
    rows = table.find_all('tr')

    # Extract the table headers
    # headers = [header.text for header in rows[0].find_all('th')]

    # Extract the table data
    data = [[cell.text for cell in row.find_all('td')] for row in rows[1:]]

    # Find the ethnicity with the highest probF
    max_probF_ethnicity = None
    max_probF_value = 0.0
    for row in data:
        ethnicity = row[0]
        probF = float(row[4])
        if probF > max_probF_value:
            max_probF_ethnicity = ethnicity
            max_probF_value = probF

    # Update the DataFrame with the highest probF ethnicity and probF value
    unique_names_df.loc[(unique_names_df['firstname'] == first_name) & (unique_names_df['lastname'] == last_name), 'Highest_probF_ethnicity'] = max_probF_ethnicity
    unique_names_df.loc[(unique_names_df['firstname'] == first_name) & (unique_names_df['lastname'] == last_name), 'Highest_probF_value'] = max_probF_value

chunk_size = 1000

# Iterate over the DataFrame in chunks
for i in range(0, len(unique_names_df), chunk_size):
    chunk_df = unique_names_df.iloc[i:i+chunk_size]  # Get the current chunk of rows

    # Perform the scraping for each row in the chunk
    for index, row in chunk_df.iterrows():
        first_name = row['firstname']
        last_name = row['lastname']
        scrape_ethnicity_table(first_name, last_name)
        time.sleep(1)  # Delay for 1 second before the next request
    
    # Generate a unique filename for each chunk
    filename = f"../data/1_first_names_{i//chunk_size}.csv"

    # Save the chunk DataFrame to a CSV file
    unique_names_df.iloc[i:i+chunk_size].to_csv(filename, index=False)

In [28]:
import os
import pandas as pd

# Step 1: Define the folder path where the CSV files are located
folder_path = '../data/'

# Step 2: Get a list of all CSV files in the folder, sorted alphabetically
csv_files = [file for file in os.listdir(folder_path) if file.startswith('1_first_names_') and file.endswith('.csv')]
csv_files.sort()  # Sort the file list alphabetically

# Step 3: Merge all CSV files into a single DataFrame
df_list = []
for file in csv_files:
    file_path = os.path.join(folder_path, file)
    df = pd.read_csv(file_path)
    df_list.append(df)

merged_df = pd.concat(df_list, ignore_index=True)
merged_df.drop_duplicates(inplace=True)

# Step 4: Save the merged DataFrame to a new CSV file
merged_csv_path = '../data/1_first_names_raw_data.csv'
merged_df.to_csv(merged_csv_path, index=False)

print("Merged CSV file has been created successfully!")

Merged CSV file has been created successfully!