In [2]:
import pandas as pd
import configparser
import openai

# Load configuration file
config = configparser.ConfigParser()
config.read('../config.ini')

openai.api_key = config.get('API', 'OPENAI_API_KEY')

In [18]:
filename = '../data/first_names_raw_data.csv'

# Read the TSV file into a pandas DataFrame
df = pd.read_csv(filename, on_bad_lines='warn')

In [19]:
df

,auid,name,EthnicSeer,prop,lastname,firstname,Ethnea,Genni,SexMac,SSNgender,Highest_probF_ethnicity,Highest_probF_value
0,13294057_2,aarne Rintala,IND,0.829189,Rintala,Aarne,NORDIC,M,male,M,NORDIC,99.973
1,18124682_1,otho ROSS,GER,0.612647,ROSS,Otho,GERMAN,M,male,M,INDIAN,46.995
2,9858962_2,Ernesta Parisi,ITA,0.815189,Parisi,Ernesta,ITALIAN,F,female,F,ITALIAN,44.376
3,7475844_2,Lui Forni,ITA,0.875418,Forni,Lui,ITALIAN-CHINESE,M,andy,M,CHINESE,82.237
4,8423332_6,marjoleine Dekker,GER,0.429062,Dekker,Marjoleine,DUTCH,F,female,-,DUTCH,96.696
...,...,...,...,...,...,...,...,...,...,...,...,...
95330,18031815_1,Kannath Santhosh,IND,0.999973,Santhosh,Kannath,INDIAN,-,andy,-,INDIAN,99.912
95331,16634083_2,Aekaterini Sakellariou,ENG,0.914353,Sakellariou,Aekaterini,GREEK,F,andy,-,GREEK,97.934
95332,10982012_1,Cielito Reyes-Gibby,SPA,0.826991,Reyes-Gibby,Cielito,HISPANIC,-,andy,-,HISPANIC,64.773
95333,5147017_3,Tjark Reblin,GER,0.485934,Reblin,Tjark,GERMAN,M,male,-,DUTCH,78.046
95334,6113164_1,Sikha Rauth,IND,0.940179,Rauth,Sikha,ENGLISH,-,andy,-,INDIAN,97.010

In [5]:
names = df['firstname'].tolist()
print(names[:10])

['Aarne', 'Otho', 'Ernesta', 'Lui', 'Marjoleine', 'Francisley', 'Francival', 'Frutuoso', 'Caetano', 'Flaviane']

In [36]:
# df['Embedding'] = None

In [51]:
import pandas as pd
import openai

# Function to get the embedding for each firstname
def get_embedding(row):
    if row['Embedding'] is None:
        try:
            response = openai.Embedding.create(
                input=row['firstname'],
                model="text-embedding-ada-002"
            )
            embedding = response['data'][0]['embedding']
        except Exception as e:
            # Handle the exception (e.g., log the error, use a default value, etc.)
            print(f"Error in API call for '{row['firstname']}': {str(e)}")
            embedding = None  # Set a default value if the API call fails
    else:
        embedding = row['Embedding']
    
    return embedding

In [52]:
for index, row in df.iterrows():
    embedding_value = get_embedding(row)
    df.at[index, 'Embedding'] = embedding_value

In [49]:
# Assuming your DataFrame is named 'df'
not_null_count = df['Embedding'].count()

print("Number of not null values in the 'Embedding' column:", not_null_count)

Number of not null values in the 'Embedding' column: 95299

In [50]:
# Export DataFrame to CSV file
df.to_csv('../data/embeddings_raw_data.csv', index=False)

In [ ]:
df

,auid,name,EthnicSeer,prop,lastname,firstname,Ethnea,Genni,SexMac,SSNgender,Highest_probF_ethnicity,Highest_probF_value,Embedding
0,13294057_2,aarne Rintala,IND,0.829189,Rintala,Aarne,NORDIC,M,male,M,NORDIC,99.973,None
1,18124682_1,otho ROSS,GER,0.612647,ROSS,Otho,GERMAN,M,male,M,INDIAN,46.995,None
2,9858962_2,Ernesta Parisi,ITA,0.815189,Parisi,Ernesta,ITALIAN,F,female,F,ITALIAN,44.376,None
3,7475844_2,Lui Forni,ITA,0.875418,Forni,Lui,ITALIAN-CHINESE,M,andy,M,CHINESE,82.237,None
4,8423332_6,marjoleine Dekker,GER,0.429062,Dekker,Marjoleine,DUTCH,F,female,-,DUTCH,96.696,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95330,18031815_1,Kannath Santhosh,IND,0.999973,Santhosh,Kannath,INDIAN,-,andy,-,INDIAN,99.912,None
95331,16634083_2,Aekaterini Sakellariou,ENG,0.914353,Sakellariou,Aekaterini,GREEK,F,andy,-,GREEK,97.934,None
95332,10982012_1,Cielito Reyes-Gibby,SPA,0.826991,Reyes-Gibby,Cielito,HISPANIC,-,andy,-,HISPANIC,64.773,None
95333,5147017_3,Tjark Reblin,GER,0.485934,Reblin,Tjark,GERMAN,M,male,-,DUTCH,78.046,None
95334,6113164_1,Sikha Rauth,IND,0.940179,Rauth,Sikha,ENGLISH,-,andy,-,INDIAN,97.010,None